.create{
    /* max-width: 400px; */
    margin: 0 auto;
    text-align: center;
  }
  
  .center label{
    text-align: left;
    display: block;
  }
  
  .create h2{
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  
  }
  
  .create input, .create textarea, .create select{
    width: 100%; 
    padding: 6px 10px;
    margin: 10px 0;
     border:1px solid #b1afaf;
     display: block;
  }
  
  .create textarea{
    resize: none;
  }
  
  .create button{
    background:#f1356d;
    color: #ffff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .blog-details button{
    background:#f1356d;
    color: #ffff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }